*{
    font-family: "Outfit", sans-serif;
}

/* global.css */
body, html {
    margin: 0;
    padding: 0;
    background: transparent;
    overflow-x: hidden; /* Bloqueia apenas a rolagem horizontal */
}
